<header>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: pink;">
        <div><a href="https://www.facebook.com/riadh.salem97/" class="navbar-brand">RIADHDEV</a></div>
        <ul class="navbar-nav">
            <li><a  class="nav-link" routerLink="/shop"  >Shop</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/admin/users">Users</a>
                    <a class="dropdown-item" routerLink="/admin/books">Books</a>
                </div>
                
            </li>        
            <li><a  class="nav-link" routerLink="/"  >Homepage</a></li>    
        </ul>
    </nav>
</header>